*.o
*.a
.deps
.libs
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
ltmain.sh
libtool
missing
mkinstalldirs
stamp-h1
autom4te.cache

po/*.gmo
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/.intltool-merge-cache

common/test-client
common/test-agent
common/test-deviceselection
applet/bluetooth-applet
applet/test-agentdialog
properties/bluetooth-properties
wizard/bluetooth-wizard
sendto/bluetooth-sendto
browse/bluetooth-browse
marshal.h
marshal.c
*-glue.h
*.desktop
*.schemas
*~
*.rej
*.orig
*.lo
*.la
bluetooth-manager.xml
gnome-bluetooth-1.0.pc
