*.o
*.a
*stamp
*.bak
.deps
.libs
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
ltmain.sh
libtool
missing
mkinstalldirs
stamp-h1
autom4te.cache

po/*.gmo
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/.intltool-merge-cache

lib/test-class
lib/test-client
lib/test-agent
lib/test-deviceselection
lib/test-plugins
lib/gnome-bluetooth-enum-types.*
lib/GnomeBluetooth-1.0.gir
lib/GnomeBluetooth-1.0.typelib

moblin/bluetooth-panel.desktop.in

applet/bluetooth-applet
applet/bluetooth-applet.desktop.in
applet/test-agentdialog
properties/bluetooth-properties
properties/bluetooth-properties.desktop.in
properties/org.gnome.Bluetooth.gschema.xml

moblin/bluetooth-panel
moblin/bluetooth-panel.desktop.in
moblin/org.moblin.UX.Shell.Panels.bluetooth.service
moblin/theme/bluetooth-panel.css

wizard/bluetooth-wizard
sendto/bluetooth-sendto
browse/bluetooth-browse
marshal.h
marshal.c
*-glue.h
*.desktop
*.schemas
*~
*.rej
*.orig
*.lo
*.la
bluetooth-manager.xml
docs/reference/libgnome-bluetooth/version.xml
gnome-bluetooth-1.0.pc
gnome-doc-utils.make
gtk-doc.make
help/de/.xml2po.mo
help/de/gnome-bluetooth.xml
help/gnome-bluetooth-C.omf
help/gnome-bluetooth-de.omf
