*.o
*.a
*stamp
*.bak
.deps
.libs
ChangeLog
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
ltmain.sh
libtool
missing
mkinstalldirs
stamp-h1
autom4te.cache
ABOUT-NLS
config.rpath

po/*.gmo
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin

lib/test-class
lib/test-client
lib/test-agent
lib/test-deviceselection
lib/test-plugins
lib/gnome-bluetooth-enum-types.*
lib/GnomeBluetooth-1.0.gir
lib/GnomeBluetooth-1.0.typelib

m4/

applet/bluetooth-applet
applet/bluetooth-applet.desktop.in
applet/test-agentdialog
applet/test-icon
applet/GnomeBluetoothApplet-1.0.gir
applet/GnomeBluetoothApplet-1.0.typelib

wizard/bluetooth-wizard
wizard/bluetooth-wizard.desktop.in
wizard/test-input

sendto/bluetooth-sendto
sendto/bluetooth-sendto.desktop.in
sendto/org.gnome.Bluetooth.nst.gschema.xml
sendto/org.gnome.Bluetooth.nst.gschema.valid

help/*/.xml2po.mo
help/*/gnome-bluetooth.xml
help/*/*.mo
!help/C/gnome-bluetooth.xml
help/gnome-bluetooth-*.omf

docs/reference/libgnome-bluetooth/gnome-bluetooth.args
docs/reference/libgnome-bluetooth/gnome-bluetooth-decl-list.txt
docs/reference/libgnome-bluetooth/gnome-bluetooth-decl.txt
docs/reference/libgnome-bluetooth/gnome-bluetooth.hierarchy
docs/reference/libgnome-bluetooth/gnome-bluetooth.interfaces
docs/reference/libgnome-bluetooth/gnome-bluetooth-overrides.txt
docs/reference/libgnome-bluetooth/gnome-bluetooth.prerequisites
docs/reference/libgnome-bluetooth/gnome-bluetooth.signals
docs/reference/libgnome-bluetooth/gnome-bluetooth-undeclared.txt
docs/reference/libgnome-bluetooth/gnome-bluetooth-undocumented.txt
docs/reference/libgnome-bluetooth/gnome-bluetooth-unused.txt
docs/reference/libgnome-bluetooth/version.xml

docs/reference/libgnome-bluetooth/html/
docs/reference/libgnome-bluetooth/tmpl/
docs/reference/libgnome-bluetooth/xml/

*-glue.c
*-glue.h
*.desktop
*~
*.rej
*.orig
*.lo
*.la
gnome-bluetooth-1.0.pc
gnome-doc-utils.make
gtk-doc.make
.autotools
.cproject
.project
