Source: gnome-bluetooth
Section: gnome
Priority: extra
Maintainer: Edd Dumbill <ejad@debian.org>
Build-Depends: debhelper (>> 4.0.0), libc6-dev, libbluetooth1-dev (>= 2.3), libsdp2-dev (>= 1.0), libbtctl0-dev (>= 0.3), gob2, libglade2-dev, libbonobo2-dev, libbonoboui2-dev, libgnomevfs2-dev, libgnomeui-dev
Standards-Version: 3.5.8

Package: gnome-bluetooth
Architecture: any
Depends: ${shlibs:Depends}, bluez-sdp
Description: GNOME Bluetooth subsystem
 This package contains a bonobo control that provides access to Bluetooth
 devices to other GNOME applications, a tool to view the current state of
 known Bluetooth devices, a file receiving daemon, a file sending program,
 and a gnome-vfs plugin to allow browsing of devices in Nautilus.
 .
 More information available at http://usefulinc.com/software/gnome-bluetooth
